
@font-face {
			font-family: "ArvoRegular";
			src: url("../fonts/ArvoRegular/ArvoRegular.eot");
			src: url("../fonts/ArvoRegular/ArvoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ArvoRegular/ArvoRegular.woff") format("woff"),
			url("../fonts/ArvoRegular/ArvoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}	
.text-center {
	text-align: center;
}
.head-text {
  font-size: 30px;
  font-family: "ArvoRegular";
  color: #3b3f6a;
}
.main-text {
  font-size: 22px;
  font-family: "ArvoRegular";
  color: #3b3f6a;
}
.definition-text {
  font-size: 20px;
  font-family: "Noto Sans";
  color: #686c8a;
}
.cell {
   padding-top: 70px;
   height: 210px;
   vertical-align: top;
}
  .block {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
